<footer class="bg-[#21305D] text-white p-8 text-sm">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
  >
    <div class="space-y-2">
      <p>
        <img
          src="/public/images/logoibictbranca.png"
          alt=""
          class="w-[150px]"
        />
      </p>
      <p class="pt-6">Brasilia - DF, 70070-912, Brazil</p>
      <p></p>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Site</h3>
      <p>CDU</p>
      <p>Sobre</p>
      <p>Condições de uso</p>
      <p>Editorial</p>
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Licença</h3>
      <p>
        Os dados fornecidos neste Resumo são divulgados sob o Licença Creative
        Commons Attribution Share Alike 3.0
      </p>
      <img src="/public/images/udclogowhite.png" alt="" class="w-[50px]" />
    </div>
    <div class="space-y-2">
      <h3 class="font-bold">Sobre UDC Consórcio</h3>
      <p>
        Este Resumo UDC (UDCS) fornece uma seleção de cerca de 2.600 classes de
        todo o esquema, que compreende mais de 70.000 entradas. Por favor, envie
        perguntas e sugestões para .
      </p>
    </div>
  </div>
</footer>
