<section
  class="relative bg-cover bg-center max-h-[500px] h-96 flex items-center"
  style="background-color: #3c4e9d"
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between relative z-10"
  >
    <div class="text-left md:w-1/2">
      <h1
        class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-2 sm:mb-4"
      >
        Bem-vindo ao CDU Digital
      </h1>
      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl text-gray-200 mb-4 sm:mb-8"
      >
        Classificação Decimal Universal Multilíngue
      </p>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Saiba Mais
      </button>
    </div>
    <div
      class="flex xl:flex-col md:flex-col flex-row items-center md:w-1/ mt-4 md:mt-0 justify-center"
    >
      <img
        src="/assets/images/ministerio.png"
        class="xl:w-[40%] md:w-[40%] w-[30%] xl:mb-5 md:mb-5 mr-5"
      />
      <img
        src="/assets/images/governofederal.png"
        class="xl:w-[40%] md:w-[40%] w-[30%]"
      />
    </div>
  </div>
</section>

<div
  class="min-h-[60px] mb-20 text-xl text-center pt-4 bg-[#F9FAFA] font-bold uppercase text-blue-950"
>
  <h1>Cadastro</h1>
</div>

<div class="container mx-auto p-4">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="max-w-3xl mx-auto bg-white p-6"
  >
    <div class="mb-4">
      <label for="nome" class="block text-gray-700 font-bold mb-2">Nome</label>
      <input
        id="nome"
        formControlName="nome"
        type="text"
        class="form-input w-full border border-gray-300 p-2 rounded"
        required
      />
      <div
        *ngIf="
          registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched
        "
        class="text-red-500 text-xs mt-1"
      >
        Nome é obrigatório
      </div>
    </div>

    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-bold mb-2"
        >Email</label
      >
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-input w-full border border-gray-300 p-2 rounded"
        required
      />
      <div
        *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        "
        class="text-red-500 text-xs mt-1"
      >
        Email inválido
      </div>
    </div>

    <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label for="telefone" class="block text-gray-700 font-bold mb-2"
          >Telefone</label
        >
        <input
          id="telefone"
          formControlName="telefone"
          type="text"
          class="form-input w-full border border-gray-300 p-2 rounded"
          mask="(00) 00000-0000"
          required
        />
        <div
          *ngIf="
            registerForm.get('telefone')?.invalid &&
            registerForm.get('telefone')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Telefone é obrigatório
        </div>
      </div>
      <div>
        <label for="cpf" class="block text-gray-700 font-bold mb-2">CPF</label>
        <input
          id="cpf"
          formControlName="cpf"
          type="text"
          class="form-input w-full border border-gray-300 p-2 rounded"
          mask="000.000.000-00"
          required
        />
        <div
          *ngIf="
            registerForm.get('cpf')?.invalid && registerForm.get('cpf')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          CPF é obrigatório
        </div>
      </div>
    </div>
    <div class="mb-4">
      <div>
        <label for="instituicao" class="block text-gray-700 font-bold mb-2"
          >Instituição</label
        >
        <input
          id="instituicao"
          formControlName="instituicao"
          type="text"
          class="form-input w-full border border-gray-300 p-2 rounded"
          required
        />
        <div
          *ngIf="
            registerForm.get('instituicao')?.invalid &&
            registerForm.get('instituicao')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Instituição é obrigatória
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label for="atividadePrincipal" class="block text-gray-700 font-bold mb-2"
        >Atividade Principal</label
      >
      <select
        id="atividadePrincipal"
        formControlName="atividadePrincipal"
        class="form-select w-full border border-gray-300 p-2 rounded"
        required
      >
        <option value="" disabled selected>
          Selecione a atividade principal
        </option>
        <option value="Desenvolvimento">Desenvolvimento</option>
        <option value="Design">Design</option>
        <option value="Gerência">Gerência</option>
        <option value="Marketing">Marketing</option>
      </select>
      <div
        *ngIf="
          registerForm.get('atividadePrincipal')?.invalid &&
          registerForm.get('atividadePrincipal')?.touched
        "
        class="text-red-500 text-xs mt-1"
      >
        Atividade Principal é obrigatória
      </div>
    </div>

    <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label for="formacao" class="block text-gray-700 font-bold mb-2"
          >Formação</label
        >
        <select
          id="formacao"
          formControlName="formacao"
          class="form-select w-full border border-gray-300 p-2 rounded"
          required
        >
          <option value="" disabled selected>Selecione a formação</option>
          <option value="Ensino Médio">Ensino Médio</option>
          <option value="Graduação">Graduação</option>
          <option value="Pós-Graduação">Pós-Graduação</option>
          <option value="Mestrado">Mestrado</option>
          <option value="Doutorado">Doutorado</option>
        </select>
        <div
          *ngIf="
            registerForm.get('formacao')?.invalid &&
            registerForm.get('formacao')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Formação é obrigatória
        </div>
      </div>
      <div>
        <label for="nivel" class="block text-gray-700 font-bold mb-2"
          >Nível</label
        >
        <select
          id="nivel"
          formControlName="nivel"
          class="form-select w-full border border-gray-300 p-2 rounded"
          required
        >
          <option value="" disabled selected>Selecione o nível</option>
          <option value="Junior">Junior</option>
          <option value="Pleno">Pleno</option>
          <option value="Senior">Senior</option>
        </select>
        <div
          *ngIf="
            registerForm.get('nivel')?.invalid &&
            registerForm.get('nivel')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Nível é obrigatório
        </div>
      </div>
    </div>

    <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label for="senha" class="block text-gray-700 font-bold mb-2"
          >Senha</label
        >
        <input
          id="senha"
          formControlName="senha"
          type="password"
          class="form-input w-full border border-gray-300 p-2 rounded"
          required
        />
        <div
          *ngIf="
            registerForm.get('senha')?.invalid &&
            registerForm.get('senha')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Senha deve ter no mínimo 6 caracteres
        </div>
      </div>
      <div>
        <label for="confirmacaoSenha" class="block text-gray-700 font-bold mb-2"
          >Confirmação de Senha</label
        >
        <input
          id="confirmacaoSenha"
          formControlName="confirmacaoSenha"
          type="password"
          class="form-input w-full border border-gray-300 p-2 rounded"
          required
        />
        <div
          *ngIf="
            registerForm.get('confirmacaoSenha')?.invalid &&
            registerForm.get('confirmacaoSenha')?.touched
          "
          class="text-red-500 text-xs mt-1"
        >
          Confirmação de senha deve ter no mínimo 6 caracteres
        </div>
        <div
          *ngIf="registerForm.errors?.['notSame'] && registerForm.get('confirmacaoSenha')?.touched"
          class="text-red-500 text-xs mt-1"
        >
          As senhas não coincidem
        </div>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Registrar
    </button>
  </form>
</div>
