<section
  class="relative bg-cover bg-center max-h-[500px] h-96 flex items-center"
  style="background-color: #3c4e9d"
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between relative z-10"
  >
    <div class="text-left md:w-1/2">
      <h1
        class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-2 sm:mb-4"
      >
        Bem-vindo ao CDU Digital
      </h1>
      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl text-gray-200 mb-4 sm:mb-8"
      >
        Classificação Decimal Universal Multilíngue
      </p>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Saiba Mais
      </button>
    </div>
    <div
      class="flex xl:flex-col md:flex-col flex-row items-center md:w-1/ mt-4 md:mt-0 justify-center"
    >
      <img
        src="assets/images/ministerio.png"
        class="xl:w-[40%] md:w-[40%] w-[30%] xl:mb-5 md:mb-5 mr-5"
      />
      <img
        src="assets/images/governofederal.png"
        class="xl:w-[40%] md:w-[40%] w-[30%]"
      />
    </div>
  </div>
</section>

<!-- Bloco de Título -->
<section class="py-12">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl md:text-2xl font-bold text-gray-800 mb-4">
      O que é CDU?
    </h2>
    <div class="md:flex">
      <div class="">
        <p class="text-lg text-gray-700 leading-relaxed mb-4">
          A Classificação Decimal Universal Multilíngue é o principal sistema de
          classificação multilíngue do mundo para todas as áreas do conhecimento
          e uma sofisticada ferramenta de indexação e recuperação. Devido ao seu
          arranjo hierárquico lógico e natureza analítico-sintética, é adequado
          para organização física de coleções, bem como para navegação e
          pesquisa de documentos. A CDU está estruturada de tal forma que novos
          desenvolvimentos e novos campos de conhecimento possam ser
          incorporados. O código em si é independente de qualquer idioma ou
          escrita específica (consistindo em algarismos arábicos e sinais de
          pontuação comuns), e as descrições das classes que o acompanham
          apareceram em muitas versões traduzidas.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-12">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white rounded-lg p-6">
      <h2 class="text-2xl md:text-2xl font-bold text-blue-900 mb-4">
        Quem está usando CDU?
      </h2>
      <p class="text-base md:text-lg text-gray-700">
        O esquema é utilizado em todo o mundo e foi publicado total ou
        parcialmente em mais de 40 idiomas diferentes. É utilizado em serviços
        bibliográficos, centros de documentação e bibliotecas em cerca de 130
        países em todo o mundo. As coleções de bibliotecas indexadas pela CDU
        podem ser encontradas em Online Public Access Catalogs (OPAC) e bancos
        de dados de bibliotecas.
      </p>
    </div>

    <div class="bg-white rounded-lg p-6">
      <h2 class="text-2xl md:text-2xl font-bold text-blue-900 mb-4">
        Quem está gerenciando o CDU?
      </h2>
      <p class="text-base md:text-lg text-gray-700">
        A International Federation for Information and Documentation (FID) geriu
        a CDU desde a sua criação por volta de 1900 até 1992, quando se
        evidenciou que era necessária uma organização com base mais ampla e
        financeiramente autônoma para gerenciar a CDU. A FID, juntamente com os
        editores das edições holandesa, inglesa, francesa, japonesa e espanhola,
        tornaram-se membros fundadores de um novo órgão o UDC Consortium (UDCC).
        O Consórcio assumiu a propriedade da CDU em janeiro de 1992.
      </p>
    </div>
  </div>
</section>

<!--  -->

<section class="departments section m-6">
  <div class="departments__bg relative min-h-[350px] flex items-center">
    <div class="departments__container container mx-auto">
      <div class="flex flex-col xl:flex-row">
        <div
          class="xl:w-[50%] bg-[#21305D] xl:rounded-l-xl flex flex-col p-8 gap-y-[0px] xl:gap-y-[0px] font-medium text-white text-center xl:text-left xl:pt-3 xl:text-[17px] mb-[50px] xl:mb-0"
        >
          <p class="text-base md:text-lg mb-6 mt-6">
            A UDCC indica os membros da Equipe Editorial da UDC e o Conselho
            Consultivo da CDU para supervisionar o conteúdo da CDU e contribuir
            com as suas revisões.
          </p>
          <p class="text-base md:text-lg mb-6">
            A CDU possibilita a uniformização dos critérios de classificação dos
            documentos. Baseia-se no conceito de que o conhecimento pode ser
            dividido em 10 (dez) classes principais, e estas podem ser
            subdivididas em subclasses, numa hierarquia decimal.
          </p>
          <p class="text-base md:text-lg">
            A CDU utiliza tabelas para pontos de vista e também utiliza sinais
            matemáticos para a coordenação dos assuntos da Tabela Principal e
            das Tabelas Auxiliares. O assunto principal deve aparecer em
            primeiro mas os outros sinais e números podem seguir as tabelas
            auxiliares:
          </p>
        </div>
        <div class="xl:w-[50%] bg-[#E8F4FF] p-8 xl:rounded-r-xl">
          <table class="min-w-full bg-white rounded-xl">
            <thead>
              <tr>
                <th
                  class="py-2 px-4 border-b-2 border-gray-300 text-left text-gray-600"
                >
                  Notação
                </th>
                <th
                  class="py-2 px-4 border-b-2 border-gray-300 text-left text-gray-600"
                >
                  Descrição
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Lugar
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ie. Auxiliares comuns de lugar
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  A/Z
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ih. Especificação de assunto por notações que não
                  pertencem à CDU
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tempo
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ig. Auxiliares comuns de tempo
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Forma
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Id. Auxiliares comuns de forma
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Língua
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ic. Auxiliares comuns de língua
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Raça
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela If. Auxiliares comuns de raça, grupos étnicos e
                  nacionalidade
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Pronto de vista
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ii. Auxiliares comuns de ponto de vista
                </td>
              </tr>
              <tr>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Características Gerais
                </td>
                <td class="py-2 px-4 border-b border-gray-300 text-gray-500">
                  Tabela Ik. Auxiliares comuns de características gerais
                </td>
              </tr>

              <!-- Adicione mais linhas conforme necessário -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-12">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl md:text-2xl font-bold text-blue-900 mb-4">
      Condições de Uso
    </h2>
    <div class="md:flex">
      <div class="">
        <p class="text-lg text-gray-600 leading-relaxed mb-4">
          A CDU Online é propriedade intelectual do UDC Consórcio e foi lançado
          pela primeira vez pelo UDC Consórcio em outubro de 2009 (última
          atualizado em agosto de 2012) sob a licença Creative Commons
          Attribution Share Alike 3.0.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-12">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl md:text-2xl font-bold text-blue-900 mb-4">
      Resumo editorial da CDU Online
    </h2>
    <div class="md:flex">
      <div class="">
        <p class="text-lg text-gray-600 leading-relaxed mb-4">
          Editora-chefe: Aida Slavic (Reino Unido)<br />
          Editores Assistentes: Gerhard Riesthuis (Holanda), Jiri Pika (Suíça)
          <br />
          Design de interface web/banco de dados: Chris Overfield (Reino Unido)
          ©Consórcio CDU 2013
        </p>
      </div>
    </div>
  </div>
</section>
